/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

@plugin "daisyui" { themes: light --default; }



@theme {
  /* --color-*: initial;  */
  --color-allBlue: #0E5799;
  --color-lightBlue: #3B7AB2;
  --color-allWhite: #f9f9f9;
  --color-allBlack: #303030;
  --color-subhead: #707070;
  --color-subsubhead: #BEBEBE;
  --color-desc: #707070;
  --color-danger: #B23A3A;
  --color-forumBox: #f1f1f1;

  --font-lsLight : lisans-light, sans-serif;
  --font-lsLightItalic : lisans-light-italic, sans-serif;
  --font-lsRegular : lisans-regular, sans-serif;
  --font-lsRegularItalic : lisans-regular-italic, sans-serif;
  --font-lsSemibold : lisans-semibold, sans-serif;
  --font-lsSemiboldItalic : lisans-semibold-italic, sans-serif;
  --font-lsBlack : lisans-black, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
  @apply bg-allWhite overflow-x-hidden
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5;
  font-weight: 400; */

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  @apply min-h-[85svh] px-10 py-8
}

a.ulineHover {
  @apply relative inline-block text-base font-lsRegular text-allBlack cursor-pointer;
  text-decoration: none;
}

a.ulineHover::after {
  content: '';
  @apply absolute left-0 bottom-0.5 h-0.5 bg-allBlue transition-all ease-out duration-500;
  width: 0;
}

a.ulineHover:hover::after {
  width: 100%;
}

a.ulineHover:hover {
  @apply text-allBlue;
}




h1 {
  @apply text-4xl
  font-lsRegular text-allBlack 
  tracking-tight
  
}

p {
  @apply text-subhead font-lsRegular
}

input {
  @apply font-lsRegular text-subhead text-base
}

button:hover{
  @apply transition-all ease-out duration-500
}

/* Topics sidebar */
.sidebar-active {
  @apply bg-blue-100 text-allBlue rounded
  border-l-4 border-lightBlue;
}

/* .sidebar-active {
  background-color: #f3f4f6;
  border-left: 3px solid #3b82f6;
  color: #1f2937;
} */

/* biggest -big news */
.timePosted {
  @apply text-sm text-subsubhead font-lsLight
}

/* Small news boxes */

.smallNews {
  @apply col-span-2 flex
  rounded-md bg-forumBox 
  hover:cursor-pointer 
  max-h-40
}

.smallNews .props {
  @apply p-5 flex flex-col space-y-2
}

.smallNews .kawasan {
  @apply flex space-x-1
  items-center


}
.smallNews .props h4 {
  @apply font-lsRegular text-xl text-allBlack
   
}

.smallNews .props p {
  @apply font-lsRegular text-base text-desc
 
}



/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
