/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

@utility testUtil {
  @apply p-6 bg-blue-400
}

@theme {
  --color-mainBlue: #0E5799;
  --color-allWhite: #F1F1F1;
  --color-allBlack: #303030;
  --color-subhead: #707070;
  --color-subsubhead: #BEBEBE;
  --color-desc: #707070;
  --color-danger: #B23A3A;
  --color-forumBox: #EAEAEA;

  --font-lsLight : lisans-light, sans-serif;
  --font-lsLightItalic : lisans-light-italic, sans-serif;
  --font-lsRegular : lisans-regular, sans-serif;
  --font-lsRegularItalic : lisans-regular-italic, sans-serif;
  --font-lsSemibold : lisans-semibold, sans-serif;
  --font-lsSemiboldItalic : lisans-semibold-italic, sans-serif;
  --font-lsBlack : lisans-black, sans-serif;
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5;
  font-weight: 400; */

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  @apply min-h-[85svh] px-10 py-8
}

a {
  @apply text-base font-lsRegular text-allBlack
  /* font-weight: 500; */
  /* color: #646cff; */
  /* text-decoration: inherit; */
}
a:hover {
  /* color: #535bf2; */
  @apply text-mainBlue cursor-pointer
}



h1 {
  @apply text-5xl
  font-lsRegular text-allBlack 
  tracking-tight
  
}

p {
  @apply text-allBlack
}

input {
  @apply font-lsRegular text-subhead text-base
}




/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
